@font-face {
  font-family: 'robotobold';
  src: url("Roboto-Bold-webfont.eot");
  src: url("Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../bases/fontsfamily/Roboto-Bold-webfont.woff") format("woff"), url("Roboto-Bold-webfont.ttf") format("truetype"), url("Roboto-Bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url("Roboto-Regular-webfont.eot");
  src: url("Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../bases/fontsfamily/Roboto-Regular-webfont.woff") format("woff"), url("Roboto-Regular-webfont.ttf") format("truetype"), url("Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'shrikhandregular';
  src: url("../bases/fontsfamily/shrikhand-regular-webfont.woff2") format("woff2"), url("../bases/fontsfamily/shrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

.main_wrapper {
  width: auto;
  height: auto;
  background-color: white;
}

header {
  border-bottom: #cfcfcf solid 1px;
  -webkit-box-shadow: #d5d5d5 0px 2px 5px;
          box-shadow: #d5d5d5 0px 2px 5px;
  text-align: center;
  padding: 20px 0px 5px 0px;
  background-color: white;
}

.main-searchzone {
  border-bottom: solid 1px #eaeaea;
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-searchzone div {
  padding: 10px 0px 10px 0px;
}

form input {
  border: transparent;
  color: black;
  background-color: #eaeaea;
  margin-left: 10px;
  padding: 10px 5px 10px 5px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  font-size: 0.9em;
  font-family: 'robotoregular', Arial, sans-serif;
}

.spin-loader {
  border: 10px solid #f6f6f6;
  border-top: 10px solid #9356dc;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #9356dc;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  left: 60px;
  top: 10px;
  position: absolute;
  -webkit-animation: loader 3000ms linear 0s 1 forwards;
          animation: loader 3000ms linear 0s 1 forwards;
}

@-webkit-keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    visibility: hidden;
  }
}

@keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    visibility: hidden;
  }
}

.main-pitch {
  width: auto;
  height: auto;
  background-color: #f6f6f6;
  padding-bottom: 50px;
  position: relative;
}

.main-pitch__title {
  margin: 0 50px 10px 50px;
  text-align: center;
  padding-top: 30px;
  font-family: 'robotobold', Arial, sans-serif;
}

.main-pitch__txt {
  margin: 0 30px 30px 30px;
  text-align: center;
  color: #656565;
  font-family: 'robotoregular', Arial, sans-serif;
}

.main__btn {
  margin-left: 100px;
  margin-right: 100px;
  padding: 15px;
  text-align: center;
  font-size: 0.8rem;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background: linear-gradient(0deg, #9356dc, #ff79da);
  border-radius: 20px;
  -webkit-box-shadow: rgba(82, 81, 81, 0.6) 0px 2px 5px;
          box-shadow: rgba(82, 81, 81, 0.6) 0px 2px 5px;
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 500ms, 500ms;
          transition-duration: 500ms, 500ms;
  cursor: pointer;
}

.main__btn:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background: linear-gradient(0deg, #9356dc, #ff79da);
  opacity: 0.8;
  -webkit-box-shadow: #525151 0px 4px 15px;
          box-shadow: #525151 0px 4px 15px;
}

.main__btn > a {
  text-decoration: none;
  color: white;
  font-family: 'robotoregular', Arial, sans-serif;
}

.fonctionnement {
  height: auto;
  background-color: white;
}

.fonctionnement__title {
  margin: 30px 0px 30px 20px;
  font-family: 'robotobold', Arial, sans-serif;
}

.btn-choix {
  width: auto;
  margin: 0px 20px 20px 30px;
  padding: 20px 0px 20px 0px;
  background-color: #f6f6f6;
  border-radius: 15px;
  -webkit-box-shadow: rgba(82, 81, 81, 0.452) 0px 2px 5px;
          box-shadow: rgba(82, 81, 81, 0.452) 0px 2px 5px;
  font-family: 'robotobold', Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.btn-choix__num {
  border-radius: 50%;
  padding: 5px 10px;
  color: white;
  background-color: #9356dc;
  position: absolute;
  left: -15px;
  top: 15px;
}

.btn-choix__ico {
  margin-left: 40px;
  color: #656565;
  font-size: 1.35em;
}

.btn-choix__ico + div {
  margin-left: 30px;
}

.btn-compo {
  width: auto;
  margin: 0px 20px 20px 30px;
  padding: 20px 0px 20px 0px;
  background-color: #f2f2f2;
  border-radius: 15px;
  -webkit-box-shadow: rgba(82, 81, 81, 0.452) 0px 2px 5px;
          box-shadow: rgba(82, 81, 81, 0.452) 0px 2px 5px;
  font-family: 'robotobold', Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.btn-compo__num {
  border-radius: 50%;
  padding: 5px 10px;
  color: white;
  background-color: #9356dc;
  position: absolute;
  left: -15px;
  top: 15px;
}

.btn-compo__ico {
  margin-left: 40px;
  color: #656565;
}

.btn-compo__ico + div {
  margin-left: 30px;
}

.btn-gout {
  width: auto;
  margin: 0px 20px 20px 30px;
  padding: 20px 0px 20px 0px;
  background-color: #f2f2f2;
  border-radius: 15px;
  -webkit-box-shadow: rgba(82, 81, 81, 0.452) 0px 2px 5px;
          box-shadow: rgba(82, 81, 81, 0.452) 0px 2px 5px;
  font-family: 'robotobold', Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 50px;
}

.btn-gout__num {
  border-radius: 50%;
  padding: 5px 10px;
  color: white;
  background-color: #9356dc;
  position: absolute;
  left: -15px;
  top: 15px;
}

.btn-gout__ico {
  margin-left: 40px;
  color: #656565;
}

.btn-gout__ico + div {
  margin-left: 30px;
}

.btn-gout--bglight {
  background: rgba(147, 86, 220, 0.1);
}

.btn-gout--bglight span {
  color: #9356dc;
}

section a {
  text-decoration: none;
  color: black;
}

.resto {
  height: auto;
  background-color: #f6f6f6;
  padding: 40px 15px 40px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resto__title {
  margin: 0px 0px 30px 20px;
  font-family: 'robotobold', Arial, sans-serif;
}

.resto div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resto__img {
  position: relative;
}

.resto__img img {
  width: 100%;
  height: 168px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.resto__img img + .new {
  border: #99E2D0 1px solid;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #99E2D0;
  position: absolute;
  right: 35px;
  font-size: 0.8em;
  color: #008766;
  font-family: 'robotobold', Arial, sans-serif;
}

.resto__img img + .new:nth-child(3) {
  display: none;
}

.resto__indic {
  -webkit-box-shadow: rgba(82, 81, 81, 0.452) 0px 2px 5px;
          box-shadow: rgba(82, 81, 81, 0.452) 0px 2px 5px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
  height: 70px;
  background-color: white;
  margin-bottom: 20px;
}

.resto__indic .resto__name {
  margin-left: 10px;
  margin-bottom: 0px;
  font-family: 'robotobold', Arial, sans-serif;
}

.resto__indic .resto__name + p {
  margin-left: 10px;
  margin-top: 0px;
  font-family: 'robotoregular', Arial, sans-serif;
  font-size: 0.85em;
}

.fa-heart {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.5em;
  color: white;
  text-shadow: 0 0 3px #000;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 2000ms;
          transition-duration: 2000ms;
}

.fa-heart:hover {
  color: #9356dc;
}

footer {
  background-color: #353535;
  height: auto;
  padding: 5px 20px 40px 0px;
  color: white;
}

footer .foot-title {
  font-size: 1.2rem;
  padding-left: 20px;
  font-family: 'shrikhandregular', Arial, sans-serif;
}

footer .foot-title p {
  margin-bottom: 10px;
}

.foot__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'robotoregular', Arial, sans-serif;
}

.foot__text span {
  padding-top: 15px;
  font-size: 0.8em;
  margin-left: 20px;
}

.foot__text span + p {
  font-size: 0.8em;
  margin-left: 10px;
  margin-bottom: 0;
}

.foot__text span + p a {
  text-decoration: none;
  color: white;
}

.foot__contact {
  margin-left: 20px;
  font-size: 0.8em;
  font-family: 'robotoregular', Arial, sans-serif;
}

.foot__contact p {
  margin-bottom: 0;
}

.foot__contact p a {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=style.css.map */