@import "../bases/fontsfamily/font-family";
// variables
$grey-strongcolor: #d9d9d9;
$grey-smoothcolor: #f2f2f2;
$grey-txtcolor: rgb(101, 101, 101);
$pri-color: #9356dc;
$sec-color: #ff79da;
$ter-color: #99E2D0;
// mixins
@mixin fonct-mainbtn {
    width: auto;
    margin: 0px 20px 20px 30px;
    padding: 20px 0px 20px 0px;
    background-color: $grey-smoothcolor;
    border-radius: 15px;
    box-shadow: rgba(82, 81, 81, 0.452) 0px 2px 5px;
    font-family: 'robotobold', Arial, sans-serif;
    display: flex;
    position: relative;
    &__num {
        border-radius: 50%;
        padding: 5px 10px;
        color: white;
        background-color: $pri-color;
        position: absolute;
        left: -15px;
        top: 15px; 
    }
    &__ico {
        margin-left: 40px;
        color: $grey-txtcolor;
        + div {
            margin-left: 30px;
        }
    } 
}
@media screen and (min-width: 700px){  
    body{
        margin: 0px;
    }
    .main_wrapper{
        max-width: 1440px;
        height: auto;
        background-color: white;
        margin: auto; 
    } 
    header{
        width: 100%;
        height: auto;
        padding: 40px 0px 40px 0px;
    }
    img{
        width: 40%;
    }
    //saisie de recherche et position
    .main-searchzone{
        border-bottom: 0;
        justify-content: flex-start;
        div{
            padding: 20px 0px 10px 20px;
            margin-left: 20px;
             span{
                 font-size: 1.5em;
             }
        }
    }
    form{
        border: transparent 2px solid;
        width: 23%;
         input{
             padding: 20px 5px 20px 15px;
             width: 100%;
             margin-left: 0px;
            }
            &:hover{
                border-bottom: solid 2px $pri-color;
            }
    }
    .spin-loader{
        width: 60px;
        height: 60px;
        border: 5px solid rgb(246, 246, 246);
        border-top: 5px solid $pri-color;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid $pri-color;
        left: -150px;
        top: -185px;
    }
    .desk_contain{
        display: flex;
        flex-direction: row-reverse;
    }
    //titre principal et bouton d'accueil
    .main-pitch{
        width: 70%;
        padding-bottom: 0px;
        background-color: white;
        &__title{
            margin: 0px 0px 50px 0px;
            font-size: 2.3em;
            padding-top: 40px;
        }
        &__txt{
            font-size: 1.8em;
            margin-bottom: 100px;
        }
    }
    .main__btn{
        border-radius: 30px;
        font-size: 1.5em;
        font-weight: bold;
        margin-right: auto;
        margin-left: auto;
        max-width: 50%;
        padding-left: 20px;
        padding-right: 20px;
    }
    //bloc de fonctionnement et etape client
    .fonctionnement{
        width: 30%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 50px 0px 50px 0px;
        &__title{
            display: none;
            width: 100%;
            text-align: center;
            margin-left: 0px;
            margin-right: 0px;
        }
    }
    .btn-choix{
        width: 70%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 30px;
        &__num{
            top: auto;
        }
        &__ico{
            margin-left: 0px;
            font-size: 1.5em;
            + div{
                margin-top: 20px;
                margin-left: 20px;
                margin-right: 20px;
                text-align: center;
            } 
        }
    }
    .btn-compo{
        width: 70%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 30px;
        &__num{
            top: auto;
        }
        &__ico{
            margin-left: 0px;
            font-size: 1.5em;
            + div{
                margin-top: 20px;
                margin-left: 20px;
                margin-right: 20px;
                text-align: center;
            } 
        }
    }
    .btn-gout{
        margin-bottom: 20px;
        width: 70%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 30px;
        &__num{
            top: auto;
        }
        &__ico{
            margin-left: 0px;
            font-size: 1.5em;
            + div{
                margin-top: 20px;
                margin-left: 20px;
                margin-right: 20px;
                text-align: center;
            } 
        }
    }
    .resto{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        &__title{
            margin-left: 25px;
        }
    }
    h1{
        width: 100%;
        font-size: 1.8em;
    }
    .resto__img{
         img{
             width: 330px;
             height: 200px;
             object-fit: cover;
         }
    }
    .resto__indic{
        height: 80px;
        width: 330px;
        .resto__name{
            font-size: 1.3em;
            + p{
                font-size: 1.2em;
            }
        }
    }
    .fa-heart{
        top: 35px;
    }
    footer{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        padding-bottom: 60px;
        padding-left: 20px;
         .foot-title{
             width: 100%;
              p{
                  font-size: 1.7em;
                  margin-bottom: 40px;
                  padding-left: 0px;
              }
         }
    }
    .foot__text{
        margin-right: 15%;
        margin-bottom: 30px;
        span{
            padding-top: 23px;
            font-size: 1.2em;
            + p{
                font-size: 1.2em;
            }
        }
    }
    .foot__contact{
        font-size: 1.2em;
    }
    

}   
