
@import "../bases/fontsfamily/font-family";

//variables

$grey-strongcolor: #d9d9d9;
$grey-smoothcolor: #f2f2f2;
$grey-txtcolor: rgb(101, 101, 101);
$pri-color: #9356dc;
$sec-color: #ff79da;
$ter-color: #99E2D0;
//mixin
@mixin fonct-mainbtn {
    width: auto;
    margin: 0px 20px 20px 30px;
    padding: 20px 0px 20px 0px;
    background-color: $grey-smoothcolor;
    border-radius: 15px;
    box-shadow: rgba(82, 81, 81, 0.452) 0px 2px 5px;
    font-family: 'robotobold', Arial, sans-serif;
    display: flex;
    position: relative;
    &__num {
        border-radius: 50%;
        padding: 5px 10px;
        color: white;
        background-color: $pri-color;
        position: absolute;
        left: -15px;
        top: 15px; 
    }
    &__ico {
        margin-left: 40px;
        color: $grey-txtcolor;
        + div {
            margin-left: 30px;
        }
    } 
}
//corp du site
body{
    width: 375px;
    height: auto;
    background-color: white;
    margin: 0; 
    margin-left: auto;
    margin-right: auto;
}
//en tete et logo
header{
    border-bottom: rgb(207, 207, 207) solid 1px;
    box-shadow: rgba(213, 213, 213, 1) 0px 2px 5px;
    text-align: center;
    padding: 20px 0px 5px 0px;
    background-color: white;
}
//saisie de recherche et position
.main-searchzone{
    border-bottom: solid 1px rgb(234, 234, 234);
    background-color: rgb(234, 234, 234);
    display: flex;
    flex-direction: row; 
    justify-content: center; 
     div{
         padding: 10px 0px 10px 0px;
    }
}
form{
    input{
        border: transparent;
        color: black;
        background-color: rgb(234, 234, 234);
        margin-left: 10px;
        padding: 10px 5px 10px 5px;
        cursor: pointer;
    }
}
//animation spin-loader
.spin-loader{
    border: 10px solid rgb(246, 246, 246);
    border-top: 10px solid $pri-color;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $pri-color;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    left: 60px;
    top: 10px;
    position: absolute;
    animation: loader 3000ms linear 0s 1 forwards;
}
@keyframes loader {
    
     from { transform: rotate(0deg);}
     to { transform: rotate(360deg);
    visibility: hidden;}
}


//titre principal et bouton d'accueil
.main-pitch{
    width: auto;
    height: auto;
    background-color: rgb(246, 246, 246);
    padding-bottom: 50px;
    position: relative;
    &__title {
        margin: 0 50px 10px 50px;
        text-align: center;
        padding-top: 30px;
        font-family: 'robotobold', Arial, sans-serif;
    }
    &__txt {
        margin: 0 30px 30px 30px;
        text-align: center;
        color: $grey-txtcolor;
        font-family: 'robotoregular', Arial, sans-serif;
    }
}
.main__btn {
    margin-left: 100px;
    margin-right: 100px;
    padding: 15px;
    text-align: center;
    font-size: 0.8rem;
    background: linear-gradient(0deg, $pri-color, $sec-color);
    border-radius: 20px;
    box-shadow: rgba(82, 81, 81, 0.452) 0px 2px 5px;
    transition-property: background-color, box-shadow;
    transition-duration: 1000ms, 500ms;
    &:hover {
        background: linear-gradient(0deg, $pri-color, $sec-color);
        opacity: 0.9;
        box-shadow: rgba(82, 81, 81, 0.7) 0px 4px 5px;
    }
    > a {
        text-decoration: none;
        color: white; 
        font-family: 'robotoregular', Arial, sans-serif;   
        }
}
//bloc de fonctionnement et etape client
.fonctionnement{
    height: auto;
    background-color: white;
    &__title {
        margin: 30px 0px 30px 20px;
        font-family: 'robotobold', Arial, sans-serif;
    }
}
.btn-choix{
    width: auto;
    margin: 0px 20px 20px 30px;
    padding: 20px 0px 20px 0px;
    background-color: rgb(246, 246, 246);
    border-radius: 15px;
    box-shadow: rgba(82, 81, 81, 0.452) 0px 2px 5px;
    font-family: 'robotobold', Arial, sans-serif;
    display: flex;
    position: relative;
    &__num {
        border-radius: 50%;
        padding: 5px 10px;
        color: white;
        background-color: $pri-color;
        position: absolute;
        left: -15px;
        top: 15px; 
    }
    &__ico {
        margin-left: 40px;
        color: $grey-txtcolor;
        font-size: 1.35em;
        + div {
            margin-left: 30px;   
        }
    }
}
.btn-compo{
    @include fonct-mainbtn();
}
.btn-gout{
    @include fonct-mainbtn();
    margin-bottom: 50px;
    &--bglight{
        background: rgba($color: #9356dc, $alpha: 0.1);
         span{
             color: $pri-color;
         }  
    }
}
section{
    a {
        text-decoration: none;
        color: black;
    }
}
.resto{
    height: auto;
    background-color: rgb(246, 246, 246);
    padding-top: 40px;
    padding-bottom: 40px;
    &__title{
        margin: 0px 0px 30px 20px;
        font-family: 'robotobold', Arial, sans-serif;
    }
}
.resto__img{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
     img{
        width: 335px;
        height: 168px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
        + .new {
            border: $ter-color 1px solid;
            border-radius: 5px;
            padding: 5px 10px;
            background-color: $ter-color;
            position: absolute;
            right: 35px;
            font-size: 0.8em;
            color: rgb(0, 135, 102);
            font-family: 'robotobold', Arial, sans-serif;
            &:nth-child(3){
                display: none;
            }
        }
    }
}
.resto__indic{
    border: 1px solid rgb(231, 231, 231);
    box-shadow: rgba(82, 81, 81, 0.452) 0px 2px 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: 0px 20px 20px 20px;
    position: relative;
    height: 70px;
    background-color: white;
    .resto__name {
        margin-left: 10px;
        margin-bottom: 0px;
        font-family: 'robotobold', Arial, sans-serif;
        + p {
            margin-left: 10px;
            margin-top: 0px;
            font-family: 'robotoregular', Arial, sans-serif;
            font-size: 0.85em;
        }  
    }    
}
.fa-heart{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5em;
    color: white;
    text-shadow: 0 0 3px #000;
    transition-property: color;
    transition-duration: 2000ms;
    &:hover {
        color: $pri-color;
    } 
}
footer{
    background-color: rgb(53, 53, 53);
    height: auto;
    padding: 5px 20px 40px 0px;
    color: white;
     .foot-title {
        font-size: 1.2rem;
        padding-left: 20px;
        font-family: 'shrikhandregular', Arial, sans-serif;
         p {
             margin-bottom: 10px;
         }  
     }
}
.foot__text {
    display: flex;
    font-family: 'robotoregular', Arial, sans-serif;
     span {
         padding-top: 15px;
         font-size: 0.8em;
         margin-left: 20px;
        + p {
              font-size: 0.8em;
              margin-left: 10px;
              margin-bottom: 0;
               a {
                   text-decoration: none;
                   color: white;
               }
          }
     }
}
.foot__contact{
    margin-left: 20px;
    font-size: 0.8em;
    font-family: 'robotoregular', Arial, sans-serif;
     p {
         margin-bottom: 0;
         a {
             text-decoration: none;
             color: white;
         }
     }
}
