@import "../bases/fontsfamily/font-family";
@import "../bases/footer/footer";

// variables
$grey-strongcolor: #d9d9d9;
$grey-smoothcolor: #f2f2f2;
$grey-txtcolor: rgb(101, 101, 101);
$pri-color: #9356dc;
$sec-color: #ff79da;
$ter-color: #99E2D0;




@media screen and (min-width: 768px) and (max-width: 1920px){
    body{
        width: auto;
        background-image: url(../bases/img/stil-u2Lp8tXIcjw-unsplash.jpg);
        background-size: 100%;
    }
    header{
        padding: 40px 0px 40px 0px;
         span{
             font-size: 2em;
             top: 40px;
             background-position-y: 0px;
         }
    }
    img{
        width: 35%;
    }
    .name-resto{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-top: 400px;
        &__titre{
            width: 100%;
            font-size: 1.6em;
             span{
                 left: 400px;
                 top: 50px;
             }
        }
    }
    .plat{
        max-width: 375px;
         h1{
             font-size: 1.2em;
         }
    }
    .main__btn{
        font-size: 1.2rem;
        font-weight: bold;
        width: 315px;
        height: 10%;
        margin: 0px 0px 0px 15px;
    }
    footer{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        padding-bottom: 60px;
        padding-left: 20px;
         .foot-title{
             width: 100%;
              p{
                  font-size: 1.7em;
                  margin-bottom: 40px;
                  padding-left: 0px;
              }
         }
    }
    .foot__text{
        margin-right: 15%;
        margin-bottom: 30px;
        span{
            padding-top: 23px;
            font-size: 1.2em;
            + p{
                font-size: 1.2em;
            }
        }
    }
    .foot__contact{
        font-size: 1.2em;
    }
}