footer{
    background-color: rgb(53, 53, 53);
    height: auto;
    padding: 30px 20px 40px 0px;
    color: white;
     .foot-title {
        font-size: 1.2rem;
        padding-left: 20px;
        font-family: 'shrikhandregular', Arial, sans-serif;
         p {
             margin-bottom: 10px;
         }  
     }
}
.foot__text {
    display: flex;
    font-family: 'robotoregular', Arial, sans-serif;
     span {
         padding-top: 15px;
         font-size: 0.8em;
         margin-left: 20px;
        + p {
              font-size: 0.8em;
              margin-left: 10px;
              margin-bottom: 0;
               a {
                   text-decoration: none;
                   color: white;
               }
          }
     }
}
.foot__contact{
    margin-left: 20px;
    font-size: 0.8em;
    font-family: 'robotoregular', Arial, sans-serif;
     p {
         margin-bottom: 0;
         a {
             text-decoration: none;
             color: white;
         }
     }
}